<section class="ads-banner" style="justify-content:space-between;margin:0 auto;padding:1vw 0 2vw;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive - Tech -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-<your-publisher-id-here>"
     data-ad-slot="<your-ad-unit-id-here>"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</section>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7619320637096725",
    enable_page_level_ads: true
  });
</script>